body{/*
	background-image: url("background1.png"); 

	background-repeat: no-repeat;
	background-size: contain;*/
    background-color: black;
}

h1,h3{
		 text-align: center

}

img {
    display: block;
    max-width:70em;
  	max-height:70em;

    margin-left: 20em;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1em;
    margin-top: 1em; }
a{
	text-decoration :none ;
}